<% if @staff.relationship?(@staff, current_user) %>
  <%= link_to relationship_path(id: @staff.id), method: :delete, remote: true do %>
    <p>フォロー解除</p>
  <% end %>
  <p>フォロワー：<%= @staff.relationships.size %>人</p>
<% else %>
  <%= link_to relationships_path(staff_id: @staff.id), method: :post, remote: true do %>
    <p>フォローする</p>
  <% end %>
  <p>フォロワー：<%= @staff.relationships.size %>人</p>
<% end %>
