<div class="wrapper">
  <div class="home-wrapper">
    <div class="home-image">
      <img src="/images/relaxy_home2.jpg" alt="好きな施術師さんと繋がれる">
    </div>
  </div>

  <div class="contents">
    <div class="container">
      <h2 container-header>新規投稿</h2>
      <%# @menus.each do |menu| %>
      <div class="container-inner">
        <div class="container-content">

          <div>
            <%= @reservation %>
            <ul class="feed-content">
              <li class="all"><%= @reservation.start_date %></li>
              <li class="all"><%= @reservation.end_date %></li>

              <li class="f-show"><%= link_to '詳細', menu_reservation_path(), class: "btn btn-primary" %></li>
            </ul>
          </div>
        </div>
      </div>
      <%# end %>
    </div>
  </div>
</div>
