<div class="wrapper">
  <div class="rsn-contents">
    <div class="rsn-container">
      <h2 container-header>詳細画面</h2>
        <div>
          <ul class="rsn-content">
            <li class="all rsn-title"><%= @reservation.start_date %></li>
            <li class="all rsn-content"><%= @reservation.end_date %></li>
          </ul>
        </div>
      <div class="rsn-link">
        <li><%= link_to '戻る',menu_path(@menu.id), class: "btn btn-primary" %></li>
      </div>
    </div>
  </div>
</div>
