/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require tempusdominus-bootstrap-4.css
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

html,
body {
  hight: auto;
  width: 100%;
  background-color: #f2f2f2;
}


/* ヘッダー */

.header-link {
  display: inline; */
  color: #fff;
  margin: 0 20px;
}

.header-link:hover {
  opacity: 0.5;
  color: #fff;
  text-decoration: none;
}

.navbar {
  padding: 1.5rem 1rem;
}

.navbar-brand {
  font-size: 30px;
}

p.notice {
  color: white;
  z-index: 1;
}
p.alert {
  color: red;
  z-index: 1;
}

.nav-link {
  display: inline;
  color: #fff;
}

/* フッター */

.ft {
  position: fixed;
  top: auto;
  right: 0;
  left: 0;
  bottom:0;
  z-index: 100;
}

.footer {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  position: relative;
  order: 5;
  padding: 0 20px;
  background-color: #fafafa;
  vertical-align: baseline;
  border-top: solid 1px #efefef;
}

.ft-icon {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 935px;
  width: 100%;
  justify-content: space-around
}

nav.ft-nav {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.ft-ul {
  flex-grow: 1;
  margin-left: 40%;
  color: #ccc;
}

.ft-link {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 18px;
  font-weight: 600;
  color: dark_navy;
  font-size: 14px;

}
