// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.wrapper {
  width: 100%;
  background: #f2f2f2;
}

.home-image {
  margin-bottom: 50px;
}

.contents {
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
}

.container {
  margin-bottom: 10px;
  height: auto;
}

.container,
.container-inner {
  margin: 0 auto;
  padding: 32px 48px 48px;
  width: 100%;
  max-width: 984px;
  background: #fff;
}

.container-inner {
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 330px;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 8px;
  box-shadow: 0 0 15px 0 rgba(191,203,222,0.4);
  position: relative;
}

.container-header {
  font-size: 18px;
  margin-bottom: 32px;
}

.container-content {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

.feed-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:  0;
}

.all {
 margin: 10px 0 20px 20px;
 float:left;
}

.f-show {
  text-align: right;
}




// / 投稿詳細
.show-contents {
  margin-top: 50px;
  height: auto;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.show-container {
  margin-bottom: 10px;
  height: 45rem;
  margin-bottom: 100px;
  margin: 0 auto;
  padding: 32px 48px 48px;
  width: 100%;
  max-width: 984px;
  background: #fff;
  border-radius: 10px;
}

.fs-contents {
  display: flex;
  flex-direction: column;
  margin: 32px 48px 48px;
  padding:  0;
  font-size: 18px;
  margin-bottom: 32px;
}

.fs-title {
  font-weight: bold;
}

.fs-content {
  height: 150px;
}

.fs-image {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 0;
  vertical-align: bottom;
  object-fit: cover;
  border: 1px solid #e6ebee;
}


.fs-link {
  display: flex;
  flex-direction: row;
  text-align: right;
  height: 38px;
  width: 55px;
  position: absolute;
  bottom: 10rem;
  left: 70%;
  margin-left: 30px;
  list-style-type: none;
}


// 新規投稿・編集ページ
.ne-contents {
  margin-top: 50px;
  height: auto;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.ne-container {
  margin-bottom: 10px;
  height: 45rem;
  margin-bottom: 100px;
  margin: 0 auto;
  padding: 32px 48px 48px;
  width: 100%;
  max-width: 984px;
  background: #fff;
  border-radius: 10px;
}

.fne-contents {
  display: flex;
  flex-direction: column;
  margin: 32px 48px 48px;
  padding:  0;
  font-size: 18px;
  margin-bottom: 32px;
}

.ne-title {
  font-weight: bold;
  width: 300px;
}

input#feed_title {
  width: 800px;
  margin-bottom: 30px;
  padding: 5px 10px;
}

.ne-content {
  height: 150px;
}

textarea#feed_content {
  width: 800px;
  padding: 10px 10px 200px 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  resize: none;
}

.ne-sample {
  margin: 100px 0 0;
  padding: 10px 0 0;
  overflow: hidden;
  border-radius: 4px;
  line-height: 0;
  vertical-align: bottom;
  object-fit: cover;
}

.feed-btn-wrap {
  display: flex;
  width: 200px;
  margin-left: auto;
}

.fup-link {
  // display: flex;
  text-align: center;
  height: 45px;
  width: 60px;
  position: absolute;
  bottom: 10rem;
  left: 70%;
  margin-left: 30px;
  list-style-type: none;
}
