// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// html,
// body {
//   height: 100%;
// }
//
// body {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: center;
//   align-items: center;
//   padding-top: 40px;
//   padding-bottom: 40px;
//   background-color: #f5f5f5;
// }
//
// .form-signin {
//   width: 100%;
//   max-width: 420px;
//   padding: 15px;
//   margin: auto;
// }
//
// .form-label-group {
//   position: relative;
//   margin-bottom: 1rem;
// }
//
// .form-label-group > input,
// .form-label-group > label {
//   height: 3.125rem;
//   padding: .75rem
// }
//
// .form-label-group > label {
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: block;
//   width: 100%;
//   margin-bottom: 0; /* デフォルトの `<label>` margin を上書き */
//   line-height: 1.5;
//   color: #495057;
//   pointer-events: none;
//   cursor: text; /* ラベルの下の入力と一致させる */
//   border: 1px solid transparent;
//   border-radius: .25rem;
//   transition: all .1s ease-in-out;
// }
//
// .form-label-group input::-webkit-input-placeholder {
//   color: transparent;
// }
//
// .form-label-group input:-ms-input-placeholder {
//   color: transparent;
// }
//
// .form-label-group input::-ms-input-placeholder {
//   color: transparent;
// }
//
// .form-label-group input::-moz-placeholder {
//   color: transparent;
// }
//
// .form-label-group input::placeholder {
//   color: transparent;
// }
//
// .form-label-group input:not(:placeholder-shown) {
//   padding-top: 1.25rem;
//   padding-bottom: 1.25rem;
// }
//
// .form-label-group input:not(:placeholder-shown) ~ label {
//   padding-top: .25rem;
//   padding-bottom: .25rem;
//   font-size: 12px;
//   color: #777;
// }
//
// /* Edge用フォールバック
// -------------------------------------------------- */
// @supports (-ms-ime-align: auto) {
//   .form-label-group > label {
//     display: none;
//   }
//   .form-label-group input::-ms-input-placeholder {
//     color: #777;
//   }
// }
//
// /* IE10-11用フォールバック
// -------------------------------------------------- */
// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//   .form-label-group > label {
//     display: none;
//   }
//   .form-label-group input:-ms-input-placeholder {
//     color: #777;
//   }
// }


// ツイートの設定
div.content.feed_index {
  background-color: #fff;
  border-radius: 0.8em;
  padding: 0;
  margin-bottom: 0 0 0.8em 0;
  min-height: 300px;
  text-overflow: hidden;
  position: relative;
}

.content.feed_index ul {
  padding: 0;
}

// 黒点を消す
.content.feed_index li {
  list-style-type: none;
}

.link_left {
  text-align: left;
}




// 新規投稿・編集ページ
.feed_new {
  width: 100%;
  height: 980px;
  margin: 0 auto;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #f5f5f5;
}

.fn_container {
  background-color: #fff;
  padding: 5% 10%;
  margin: auto;
  border-radius: 1em;
  border: solid 1px #cfcfcf;
}

.fn_form {
  width: 100%;
  max-width: 330px;
  padding: 1em;
  margin: auto;
}

.fn_form, .feed_field {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 1em;
  font-size: 1em;
}

.fn_form, .feed_field:focus {
  z-index: 2;
}

.feed_field img {
  object-fit: cover;
}

.fn_form input[type="text"] {
  margin-bottom: -0.8px;
}

.fn_form  input[type="text"] {
  margin-bottom: 0.8em;
}

.h4 {
  font-size: 30px;
  color: #708090;
  text-align: center;
  margin: auto;
}

#feed_content {
  width:260px;
  overflow: auto;
  margin: 10px auto;
}









// 投稿確認画面

.feed_confirm {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #f5f5f5;
}

.fc_container {
  background-color: #fff;
  padding: 1% 3%;
  margin: auto;
  border-radius: 1em;
  border: solid 1px #cfcfcf;
}

.fc_content {
  width: 100%;
  max-width: 500px;
  padding: 1em;
  margin: auto;
}

.fc_content {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 1em;
  font-size: 1em;
}

.fc_content {
  z-index: 2;
}

.fc_content input[type="text"] {
  margin-bottom: -0.8px;
}

.fc_content input[type="text"] {
  margin-bottom: 0.8em;
}
