// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//メニュー一覧

.wrapper {
  width: 100%;
  background: #f2f2f2;
}


.mi-contents {
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
}

.mi-container {
  margin-bottom: 8px;
  height: auto;

}

.mi-container,
.mi-container-inner {
  margin: 100px auto 80px;
  padding: 34px 48px;
  width: 100%;
  max-width: 984px;
  background: #fff;
}

.mi-container-inner {
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 330px;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  margin-top: 10px;
  margin-bottom: 8px;
  box-shadow: 0 0 15px 0 rgba(191,203,222,0.4);
  position: relative;
}

.mi-container-header {
  font-size: 18px;
  margin-bottom: 32px;
}

.mi-container-content {
  margin-top: 20px;
}

.mi-cont {
  margin: 0;
  padding: 0;
}

.form-search {
  width: 43%;
  float: left;
}

input[type="search"] {
  width: 300px;
  height:40px;
  float: left;
}

.form- {
  width: 300px;
  height:40px;
  float: left;
}

.mi-cont{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.mif-link {
  margin: 0;
  padding:  0;
  width: 50px;
  height: 38px;
  list-style-type: none;
}

.all {
 margin: 10px 0 20px 20px;
 float:left;
}

.f-show {
  text-align: right;
}

.ttt {
  margin-left: 34%;
}

// .mif-menu-name {
//   font-size: 24px;
//   margin: 0;
//   padding: 0;
//   border-bottom: 1px solid #ccc;
// }
//
// .mif-time_require {
//   font-size: 24px;
//   margin: 0;
//   padding: 0;
//   border-bottom: 1px solid #ccc;
// }
//
// .mif-price {
//   font-size: 24px;
//   margin: 0;
//   padding: 0;
//   border-bottom: 1px solid #ccc;
// }
//
// .mif-menu-content {
//   font-size: 24px;
//   margin: 0;
//   padding: 0;
//   border-bottom: 1px solid #ccc;
// }


// メニュー詳細
.ms-contents {
  margin-top: 50px;
  height: auto;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.ms-container {
  margin-bottom: 10px;
  height:40rem;
  margin: 50px auto;
  padding: 32px 48px 48px;
  width: 100%;
  max-width: 984px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.ms-contents {
  display: flex;
  flex-direction: column;
  margin: 32px 48px 48px;
  padding:  0;
  font-size: 18px;
  margin-bottom: 32px;
}

.ms-link {
  text-align: center;
  height: 38px;
  width: 55px;
  position: absolute;
  bottom: 10rem;
  left: 70%;
  margin-left: 30px;
  list-style-type: none;
}

.ms-btn {
  text-align: center;
  height: 38px;
  width: 55px;
  position: absolute;
  bottom: 10rem;
  left: 70%;
  margin-left: 30px;
  list-style-type: none;
}


.rrr {
  margin-left: 20px;
}

.msl {
  font-size: 1.2rem;
  font-weight: 600;
  color: #525e66;
}


// 新規投稿・編集ページ
.mne-contents {
  margin-top: 50px;
  height: auto;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.mne-container {
  height: auto;
  margin: 80px auto 80px;
  padding: 32px 48px 48px;
  width: 100%;
  max-width: 984px;
  background: #fff;
  border-radius: 10px;
}

.mne {
  font-size: 1.2rem;
  font-weight: 600;
  color: #525e66;
}
