// Place all the styles related to the staffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ユーザー一覧
.wrapper {
  width: 100%;
  background: #f2f2f2;
}

.usi-contents {
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
}

.usi-container {
  margin-bottom: 10px;
  height: auto;
}

.usi-container,
.usi-container-inner {
  margin: 100px auto;
  padding: 32px 48px 48px;
  width: 100%;
  max-width: 984px;
  background: #fff;
}

.usi-container-inner {
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 330px;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 8px;
  box-shadow: 0 0 15px 0 rgba(191,203,222,0.4);
  position: relative;
}

.usi-container-header {
  font-size: 18px;
  margin-bottom: 32px;
}

.usi-container-content {
  margin-top: 20px;
}

.usi-content {
  list-style-type: none;
}

.usi-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:  0;
}

.all {
 margin: 10px 0 20px 20px;
 float:left;
}

.ui-name {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5rem;
  border-bottom: 1px solid #cfcfcf;
  margin: 10px 10px;
}

.cont_memo {
  font-weight: 600;
  font-size: 20px;
}

.usi-cont {
  font-size: 16px;
  line-height: 1.2rem;
  margin: 5px 10px;
  height: 120px;
}

.usi-gender {
  font-size: 14px;
  margin-left: 50px;
}

.usi-link {
  display: flex;
  // text-align: right;
  // height: 38px;
  // width: 55px;
  // position: absolute;
  // bottom: 10rem;
  // left: 70%;
  // margin-left: 30px;
  // list-style-type: none;
}

.usi-menu .btn{
  // float: left;
  width: 250px;
}

.usi-show {
  width: 130px;
  margin-left: 30px;
  // text-align: right;
}

.usi-link2 {
  display: flex;
  text-align: right;
  height: 38px;
  width: 55px;
  position: absolute;
  bottom: 10rem;
  left: 70%;
  margin-left: 30px;
  list-style-type: none;
}


// スタッフ新規
div.staff_new {
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 980px;
}

.staff_new2 {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 50px;
}

#staff_content {
  width: 400px;
  height: 350px;
  margin-bottom: 50px;
}

.form-group label{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* デフォルトの `<label>` margin を上書き */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* ラベルの下の入力と一致させる */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.field {
  display: flex;
  flex-direction: row;
}

.men {
  width: 100px;
}

.female {
  width: 300px;

}

article {
	padding: 40px;
	border-radius: 10px;
	margin: 0px 0px 20px;
	font-size: 140%;
}

/*文字サイズ変更*/

#textsize{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: absolute;
	top: 10px;
	right: 60px;
	bottom: auto;
	left: auto;
}

#textsize li{
	width: 26px;
	float: left;
	padding: 0px 0px 0px 5px;
	margin: 0px;
}

#textsize li a{
	display: block;
	height: 26px;
	line-height: 26px;
	font-size: 20px;
	text-align: center;
	background-color: #333333;
	color: #ffffff;
	text-decoration: none;
	border-radius: 4px;
	opacity: 0.5;
}

.small #textsize li#btn_small a,
.medium #textsize li#btn_medium a,
.large #textsize li#btn_large a,
#textsize li a:hover{
	opacity: 1.0;
}


//スタッフ詳細
.ss-contents {
  margin-top: 50px;
  height: auto;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.ss-container {
  height: 45rem;
  margin: 50px auto;
  padding: 32px 48px 10px;
  width: 100%;
  max-width: 984px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.ss-name {
  font-size: 24px;
}

.ss-email {
  font-size: 24px;
}

.ss-status {
  font-size: 24px;
}

.ss-content {
  font-size: 24px;
  height: auto;

}

.ss-gender {
  font-size: 24px;
}

.staff_links {
  display: flex;
  flex-direction: row;
  margin-top: 13%;
}

.links_margin1 {
  margin-right: 5px;
}

.links_margin2 {
  margin-left: 5px;
}

.back_feed {
  text-align: right;
  vertical-align: middle;
  list-style-type: none;
  margin-left: 55%;
}

// スタッフ編集

.sfe-contents {
  margin-top: 50px;
  height: auto;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.sfe-container {
  height: auto;
  margin: 100px auto 80px;
  padding: 32px 48px 48px;
  width: 100%;
  max-width: 984px;
  background: #fff;
  border-radius: 10px;
}

.sfe-content {
  display: flex;
  flex-direction: column;
  margin: 32px 48px 48px;
  padding:  0;
  font-size: 18px;
  margin-bottom: 32px;
}

textarea#staff_content {
  width: 700px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  resize: none;
}

.sfe-content {
  font-size: 24px;

}

.gender  {
  font-size: 24px;
  float: left;
}

.mens {
  font-size: 24px;
  margin-left: 150px;
  width: 30px;
  color: #42b9f5;
}

.females {
  width: 30px;
  margin-left: 100px;
  color: #fca4b3;
}

.sfe-f-group {
  display: flex;
  flex-direction: row;
  margin-left: 40%;
}

.sfe_submit {
  margin-right: 50px;
}
