// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ユーザ登録ページレイアウト
.u-in-container {
  margin: 100px auto 80px;
  padding: 32px 48px 48px;
  width: 100%;
  height: auto;
  max-width: 984px;
  background: #fff;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: .5rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}



.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}




// ログイン画面
.log-container {
  margin: 100px auto 80px;
  padding: 32px 48px 48px;
  width: 100%;
  height: auto;
  max-width: 984px;
  background: #fff;
}
.sign-form {
  width: 30%;
  margin: 0 auto 4rem auto;
  border-radius: 4px;
  background: white;
}

.sign-form-wrap {
  padding-top: 80px;
}

.sign-form_input {
  width: 100%;
}

.sign-form_input-wrap {
  margin-bottom: 2rem;
  text-align: center;
}

.sign-form_input_input::placeholder {
  font-size: 1.6rem;
}

.sign-form_input_button {
  width: 80%;
  outline: 0;
}

.sign-form_input-wrap {
  margin-bottom: 1rem;
  text-align: center;
}

.sign-form_input_button:hover {
  opacity: .8;
}
.sign-form_link {
  text-decoration: underline;
}

.sign-form_link-wrap {
  padding-top: 1rem;
  text-align: center;
}



// ユーザー一覧
.wrapper {
  width: 100%;
  background: #f2f2f2;
}

.ui-contents {
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
}

.ui-container {
  margin-bottom: 10px;
  height: auto;
}

.ui-container,
.ui-container-inner {
  margin: 50px auto;
  padding: 32px 48px 48px;
  width: 100%;
  max-width: 984px;
  background: #fff;
}

.ui-container-inner {
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 330px;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 8px;
  box-shadow: 0 0 15px 0 rgba(191,203,222,0.4);
  position: relative;
}

.ui-container-header {
  font-size: 18px;
  margin-bottom: 32px;
}

.ui-container-content {
  margin-top: 20px;
}

.ui-content {
  list-style-type: none;
}

.ui-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:  0;
}

.all {
 margin: 10px 0 20px 20px;
 float:left;
}

.ui-name {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5rem;
  border-bottom: 1px solid #cfcfcf;
  margin: 10px 10px;
}

.cont_memo {
  font-weight: 600;
  font-size: 20px;
}

.ui-cont {
  font-size: 16px;
  line-height: 1.2rem;
  margin: 5px 10px;
  height: 120px;
}

.ui-gender {
  font-size: 14px;
  margin-left: 50px;
}

.ui-link {
  display: flex;
}

.ui-menu .btn{
  width: 250px;
}

.ui-show {
  width: 130px;
  margin-left: 30px;
}

.ui-link2 {
  display: flex;
  text-align: right;
  height: 38px;
  width: 55px;
  position: absolute;
  bottom: 10rem;
  left: 70%;
  margin-left: 30px;
  list-style-type: none;
}

// 詳細
div.user_show {
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 500px;
}

.user_show2 {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* デフォルトの `<label>` margin を上書き */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* ラベルの下の入力と一致させる */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}


// ユーザー詳細画面
.us-contents {
  margin-top: 50px;
  height: auto;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.us-container {
  height: 45rem;
  margin: 100px auto 80px;
  padding: 32px 48px 48px;
  width: 100%;
  max-width: 984px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.us-content {
  display: flex;
  flex-direction: column;
  margin: 32px 48px 48px;
  padding:  0;
  font-size: 18px;
  margin-bottom: 32px;
}

.us-name {
  font-size: 24px;
}

.us-email {
  font-size: 24px;
}

.us-status {
  font-size: 24px;
}

.us-link {
  display: flex;
  position: absolute;
  right: 48px;
  bottom: 48px;
  list-style-type: none;
}

.eurp {
  margin-left: 10px;
}

//編集

.us-in {
  margin-top: 100px;
}
